.sc-hcmsbg.gLBNha {
    background: #fff;
}
.sc-jSFjdj.sc-gKAaRy.ZPwsN.dKQEfU {
    margin-bottom: 0px;
}
ul.sc-htmcrh.eXFDsH {
    margin-bottom: 15px;
}
a#clickExchangeHelp {
    background: #000;
    width: 180px;
}
button.sc-hKFxyN.fMBmXu {
    background: #000;
}
a#ercBridge {
    color: #000;
}
span.sc-gtsrHT.jQsdDe {
    color: #fff;
}
.sc-jSFjdj.sc-gKAaRy.kJmatq.dxTyxq {
    display: none;
}
.sc-jSFjdj.jxszLn.sc-hLiTib.jAKhWB {
    display: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-hoPuav.crtmRJ.jcNvwq.bfNKrb {
    display: none;
}

.sc-jSFjdj.sc-gKAaRy.sc-hoPuav.haGhnj.jcNvwq.jkCJWN {
    display: none;
}
input[type="text"] {
    color: #000;
}
.sc-jSFjdj.sc-gKAaRy.sc-hoPuav.RrZAb.jcNvwq.kvLNet {
    display: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-hoPuav.kZHTBx.jcNvwq.hsnBzf {
    background: #000;
}
.sc-lfRxJW.kIbUxN svg.sc-bdnxRM.kHcuTr {
    fill: #000;
}
.sc-jSFjdj.sc-gKAaRy.sc-jNjAJB.kJmatq.jcNvwq.fKEYND a.sc-gtsrHT.sc-cOifOu.ewcoKd.haQoIp {
    color: #fff;
}
.sc-jSFjdj.sc-gKAaRy.sc-hoPuav.YkOHz.jcNvwq.bDHCJR {
    display: none;
}
button.sc-hKFxyN.kzfFlc {
    background: #000;
}

.sc-jSFjdj.sc-gKAaRy.sc-lgWdIC.YkOHz.jcNvwq.lawZiq {
    display: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-lgWdIC.RrZAb.jcNvwq.eFhPzW {
    display: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-lgWdIC.kZHTBx.jcNvwq.fNHCRs {
    background: #000;
}
.sc-jSFjdj.sc-gKAaRy.sc-lgWdIC.crtmRJ.jcNvwq.ciZdiI {
    display: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-lgWdIC.haGhnj.jcNvwq.hshCEy {
    display: none;
}

button.sc-hKFxyN.ScxbR {
    background: #000;
    color: #fff;
}
.sc-fFSPTT.crxApK.sc-dHMioH.jeOpiX {
    background: none;
    border: none;
}
.sc-Arkif.fYlVfT {
    background: #e9eaeb;
    border: 1px solid #000;
}
input.sc-ezzafa.ghqDvW:checked {
    background: #000;
}
h2.sc-gtsrHT.sc-jJMGnK.hnbeVk.gLmuIw {
    color: #000;
}
svg.sc-bdnxRM.epA-Dgf {
    fill: #000;
}
.sc-jSFjdj.sc-gKAaRy.sc-leehGg.kZHTBx.jcNvwq.icuTlm {
    background: #fff;
}

.sc-jSFjdj.sc-gKAaRy.sc-leehGg.kZHTBx.jcNvwq.icuTlm a.sc-gtsrHT.sc-cOifOu.ewcoKd.haQoIp {
    color: #fff;
}
.sc-jSFjdj.sc-gKAaRy.sc-leehGg.crtmRJ.jcNvwq.hOWHja {
    display: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-leehGg.haGhnj.jcNvwq.fOYXGw {
    display: none;
}
.sc-hBezlf.gokipS {
    display: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-leehGg.RrZAb.jcNvwq.VdIok {
    display: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-leehGg.YkOHz.jcNvwq.dwglqg {
    display: none;
}
.sc-jSFjdj.jxszLn.sc-fbOasq.eaqpMj {
    display: none;
}
h2.sc-gtsrHT.sc-jJMGnK.hnbeVk.gcLVyG {
    color: #000;
}
svg.sc-bdnxRM.fvfdPI {
    display: none;
}
button.sc-hKFxyN.kmxijI.sc-kLwonV.bHAaUL {
    background: #efefef;
}
.sc-gtsrHT.edzbdj {
    color: #000;
}
button.sc-hKFxyN.cYLtTG {
    background: #000;
}
.sc-dtLLSn.bMwPac {
    color: #000;
    border: 1.5px solid #000;
    padding: 7px;
}
.sc-jSFjdj.sc-gKAaRy.hjQygN.kUhFXn svg.sc-bdnxRM.kHcuTr {
    fill: #000;
}
.sc-jSFjdj.jxszLn.sc-eTTTle.cgHBCH {
    display: none;
}
.sc-gtsrHT.sc-fXgAZx.hcWqGB.erAkNO {
    color: #fff;
}
.sc-gtsrHT.jkQgxC {
    color: #000;
}
button.sc-hKFxyN.bICUHb {
    border: 2px solid #000;
    color: #000;
}
h2.sc-gtsrHT.sc-jJMGnK.hnbeVk.YRVmv {
    color: #000;
}
.sc-gtsrHT.jukwGg {
    color: #000;
}

button.sc-hKFxyN.foIWpF {
    background: #777fd4;
}
.sc-jSFjdj.sc-gKAaRy.sc-cpUASM.kJmatq.jcNvwq.bqNXll a.sc-gtsrHT.sc-cOifOu.ewcoKd.haQoIp {
    color: #fff;
}
.sc-jSFjdj.sc-gKAaRy.eaNCIZ.iIdAKa {
    display: none;
}
.sc-eYKchh.iZcZTF {
    display: none;
}
.sc-jSFjdj.jxszLn.sc-jNjAJB.jxPHhA {
    background: #000;
}
h2.sc-gtsrHT.sc-jJMGnK.cYiNfE.YRVmv {
    color: #000;
}
.sc-bsatvv.bVyoCt {
    display: none;
}
h2.sc-gtsrHT.sc-jJMGnK.jukwGg.YRVmv {
    color: #000;
}
.sc-gtsrHT.bLwuiY {
    text-align: center;
}
a.sc-hKFxyN.fMBmXu {
    margin-right: 5px;
}
.sc-gtsrHT.fQnTgT {
    color: #000;
}
.sc-jSFjdj.sc-gKAaRy.sc-gVFcvn.kJmatq.gckEVc.ewoRti {
    display: none;
}
.sc-jSFjdj.sc-hkeOVe.bKajnB.cosZie {
    margin-bottom: 50px;
}
button.sc-hKFxyN.dKApOB.\.token-dismiss-button {
    background: #000;
}
.sc-dtLLSn.gBlGpj {
    background: #e9eaeb;
    border: 1px solid #000;
    color: #000;
}
.sc-gtsrHT.krnqaM {
    color: #000;
}
button.sc-hKFxyN.kmxijI {
    background: #000;
}

.sc-dWBRfb.iTdypV {
    background: #000;
}
.sc-jSFjdj.hwtEBz svg.sc-bdnxRM.fRwzTT {
    fill: #000;
}
.sc-gtsrHT.dfuJHH {
    color: #000;
}
.sc-gtsrHT.bBlFvv {
    color: #000;
}
.sc-jSFjdj.sc-gKAaRy.kJmatq.eqGhLO svg.sc-bdnxRM.kHcuTr {
    fill: #000;
}
nav.sc-eXuyPJ.fdCbCG {
    background: #000;
}
a.sc-gtsrHT.sc-cOifOu.ewcoKd.haQoIp {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 0px;
}
.sc-gtsrHT.bwlMme {
    margin-bottom: 20px;
}
.sc-gtsrHT.jdSGYQ {
    color: #fff;
}
.sc-gtsrHT.bwlMme {
    color: #fff;
    text-align: left;
}
h2.sc-gtsrHT.sc-jJMGnK.jdSGYQ.YRVmv {
    color: #fff;
}

svg.sc-bdnxRM.dQNrEU {
    fill: #000;
}
button.sc-hKFxyN.fRUJCH {
    background: #fff;
    color: #000;
}

p.sc-gtsrHT.kSfpoA {
    color: #000;
}
button.sc-hKFxyN.jdfuWo.sc-eCApnc.fAYovO svg.sc-bdnxRM.kHcuTr {
    fill: #000;
}
.sc-jSFjdj.sc-gKAaRy.hjQygN.kfyvoL svg.sc-bdnxRM.kHcuTr {
    fill: #000;
}
svg.sc-bdnxRM.iWVRsa {
    fill: #000;
}
.sc-jSFjdj.sc-gKAaRy.igJDBh.cqgffe {
    margin-top: 10px;
}
.sc-jSFjdj.sc-gKAaRy.sc-enrZtP.kJmatq.jcNvwq.cOPxju {
    display: ;
}
button.sc-hKFxyN.fNZsfH {
    background: #000;
    color:#fff;
}
input.sc-iuhXDa.kckCvm.token-amount-input::placeholder {
    color: #858585;
}
a.sc-hKFxyN.fMBmXu.sc-bkbkJK.hxFlYf {
    color: #fff;
}

a.sc-hKFxyN.fMBmXu {
    background: #000;
}
.sc-jSFjdj.sc-gKAaRy.sc-cjzNjn.kJmatq.jcNvwq.fCOkaL svg.sc-bdnxRM.kHcuTr {
    fill: #000;
}
.sc-fFSPTT.bTQvbG {
    background: #efefef;
    border: none;
}
.sc-gtsrHT.laMnuP {
    color: #2acefe;
}
h2.sc-gtsrHT.sc-jJMGnK.jkQgxC.gcLVyG {
    color: #000;
}
.sc-fFSPTT.gbBApS {
    background: transparent;
    border: none;
    margin-top: 10px;
}
.sc-gtsrHT.bLwuiY {
    color: #000;
}
div#pair {
    color: #000;
}
.sc-fcmMJX.eMqmlG {
    color: #fff;
}
.sc-fcmMJX.eMqmlG:hover {
    background: none;
}
.sc-gtsrHT.cbIeCU {
    color: #000;
}
button.sc-hKFxyN.kmxijI.sc-fbOasq.kOzhes {
    background: #fdfdfd;
}
.sc-biJonm.lhocZR {
    background: #000;
}
.sc-jSFjdj.sc-gKAaRy.jFGnZM.cJSHxd {
    display: none;
}
input#token-search-input {
    background: #ededed;
}
.sc-jSFjdj.sc-gKAaRy.ZPwsN.dKQEfU {
    display: none;
}
a.sc-jXcxbT.iCAQtc {
    color: #000;
}
input#token-search-input::placeholder {
    color: #000;
}
button.sc-hKFxyN.kmxijI.sc-bjHqKj.cHPSak {
    background: #f0f0f0;
}
.sc-gtsrHT.ewQVdO {
    color: #000
}
.sc-jSFjdj.hTAxTG {
    DISPLAY: NONE;
}
.grSEwW {
    position: relative;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
    background: linear-gradient(#2196f3 0%, rgb(255 255 255) 100%);
    padding: 48px 0px;
}
.sc-jSFjdj.sc-gKAaRy.sc-fyjqAk.kJmatq.jcNvwq.iZIAqF {
    background: linear-gradient(0deg, rgba(39, 38, 44, 0.4), rgba(39, 38, 44, 0.4)), linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
    overflow: hidden;
    height: 100%;
    padding: 12px;
    -webkit-box-align: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(39, 38, 44, 0.4), rgba(39, 38, 44, 0.4)), linear-gradient(#000000 0%, #2196f3 100%);
}
.sc-jSFjdj.sc-gKAaRy.sc-cSiAOC.fKBiSv.jcNvwq.jselOE.sc-iJKVRt.ccVGzv {
    display: ;
}
.sc-jSFjdj.jxszLn.sc-fSvVUw.CaTHQ {
    display: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-cSiAOC.YkOHz.jcNvwq.dntsfc {
    display: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-cSiAOC.crtmRJ.jcNvwq.jZRANO {
    display: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-cSiAOC.haGhnj.jcNvwq.jnTzPs {
    display: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-cSiAOC.RrZAb.jcNvwq.ikshKs {
    display: none;
}
.krkYvd:after {
    background: rgb(255 255 255);
}
svg.sc-bdnxRM.eNPaSS path {
    fill: #fff;
}
svg.sc-bdnxRM.cNBJhJ {
    fill: #fff;
}
.cNBJhJ {
    align-self: center;
    fill: rgb(0 0 0);
    flex-shrink: 0;
    margin-right: 0.5rem;
}
.bmnHHk {
    color: rgb(0 0 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.eXuQom {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: rgb(42 206 254);
    color: rgb(255, 255, 255);
}
.fCOkaL svg {
    fill: rgb(42 206 254);
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
}
.fMBmXu {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 32px;
    padding: 0px 16px;
    background-color: rgb(42 206 254);
    color: rgb(255, 255, 255);
}
.hxFlYf {
    background-color: transparent;
    color: rgb(0 0 0);
}
.fWzjos {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 32px;
    padding: 0px 16px;
    background-color: rgb(0 0 0);
    color: white;
}
.sc-jSFjdj.sc-gKAaRy.sc-dTSzeu.bEIYXj.cqgffe.krkYvd {
    background: #000;
}
a.sc-hKFxyN.fWzjos {
    background: #2acefe;
}
.sc-jSFjdj.sc-gKAaRy.sc-cSiAOC.kZHTBx.jcNvwq.grSEwW {
    background: #000;
}
button.sc-hKFxyN.fWzjos {
    background: #fff;
    color: #000;
}
.sc-jSFjdj.sc-kYPZxB.bQHYpP.deCPQd {
    border: none;
}
.sc-biJonm.isfchQ {
    background: #000;
}
svg.sc-bdnxRM.fRwzTT {
    fill: #2acefe;
}
.sc-gtsrHT.ihaQRR {
    color: #000;
}
button.sc-hKFxyN.bKiRbN.sc-eCApnc.fAYovO {
    background: #efefef;
}
input[placeholder], [placeholder], *[placeholder] {
    color: black !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}
h2.sc-gtsrHT.sc-jJMGnK.fIGIFz.gcLVyG {
    color: #fff;
}
svg.sc-bdnxRM.jPHzUB {
    fill: #fff;
}
a.sc-hKFxyN.jHmkYV {
    background: #000;
}
svg.sc-bdnxRM.jPHzUB {
    fill: #fff;
}
.sc-jSFjdj.sc-gKAaRy.kJmatq.eqGhLO svg.sc-bdnxRM.kHcuTr {
    fill: #000;
}
svg.sc-bdnxRM.jPHzUB {
    fill: #fff;
}
.sc-gtsrHT.sc-bTJQgd.duFGXZ.crMrTS {
    color: #000;
}
.sc-gtsrHT.dZJpMk {
    color: #000;
}
svg.sc-bdnxRM.buXQgi {
    fill: #000;
}
.sc-gtsrHT.icoJBw {
    color: #000;
}

svg.sc-bdnxRM.kHcuTr.sc-TtZnY.gnBPmJ {
    display: none;
}
.sc-gtsrHT.eVQeSc {
    margin-top: 50px;
    color: #000;
}
.sc-gtsrHT.cNCDYy {
    color: #000;
}
.sc-gtsrHT.bShGmI {
    color: #000;
}
.sc-gtsrHT.ipMPvi {
    color: #000;
}
.sc-gtsrHT.iDuOZo {
    color: #000;
}

a#import-pool-link {
    border: 2px solid #000 !important;
    color: #000;
}

a#join-pool-button {
    background: #000;
}

button#confirm-swap-or-send {
    background: #000;
}
.sc-biJonm.lmyGVZ {
    background: #000;
}
span.sc-btlduw.kMTXgk {
    color: #000;
}
.sc-hHEiqL.jdPCHs {
    background: none;
}
.sc-jSFjdj.sc-gKAaRy.gbsSVA.togOu svg.sc-bdnxRM.jPHzUB {
    fill: #000;
}
.sc-gtsrHT.hSrgJl {
    color: #3aaeff;
}
.sc-kHVIJG.cwOMkw svg.sc-bdnxRM.jPHzUB {
    fill: #000;
}

button.sc-hKFxyN.kzaKiX {
    background: #000;
}
button.sc-hKFxyN.hARAac {
    color: #000;
}
button.sc-hKFxyN.cEeHTU {
    color: #000;
}
label.sc-laZMeE.blVKYj {
    background: #000;
}
button.sc-hKFxyN.icHgXN.sc-gzcbmu.etVvGO {
    color: #000;
}
.sc-gtsrHT.bUUKpM {
    color: #000;
}
.sc-gtsrHT.bBgiCp {
    color: #000;
}
svg.sc-bdnxRM.fnHvgm {
    fill: #000;
}
.sc-bsatvv.bQoIMD {
    BACKGROUND: #eff4f5;
}
.sc-gtsrHT.boiXCq {
    color: #000;
}
button.sc-hKFxyN.iyMLzT {
    background: #000;
}
.sc-gtsrHT.ewcoKd {
    color: #000;
}
input.sc-iqAclL.VeUdm {
    background: #eff4f5;
    border: 1px solid#000;
}
.sc-jSFjdj.sc-cQDFzS.jyrYNO.jDLZjo {
    background: none;
}
.sc-iIgjPs.hGBdDW {
    color: #fff;
}
.sc-gtsrHT.ihaQRR svg.sc-bdnxRM.kHcuTr {
    fill: #000;
}
.sc-jSFjdj.fOuzCz svg.sc-bdnxRM.kHcuTr {
    fill: #000;
}
.sc-gtsrHT.bLwuiY svg.sc-bdnxRM.kHcuTr {
    fill: #000;
}
.sc-gtsrHT.ftKPiy {
    color: #000;
}
.sc-gtsrHT.kKiUJK {
    color: #000;
}
input.sc-iqAclL.VeUdm::placeholder {
    color: #000;
}


.sc-biJonm.sc-gGGFjW.lhocZR.cxqvlO {
    background: #000;
}
button.sc-hKFxyN.fMBmXu.sc-bkbkJK.hxFlYf {
    color: #fff;
}
.sc-fFSPTT.bwDvtz {
    background: none;
    border: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-jdXKxY.kJmatq.jcNvwq.hLOQZw a.sc-gtsrHT.sc-cOifOu.ewcoKd.haQoIp {
    color: #fff;
}

.sc-jSFjdj.sc-gKAaRy.sc-hxyAeK.kJmatq.jcNvwq.hXItrv svg.sc-bdnxRM.kHcuTr {
    fill: #000;
}
.sc-gtsrHT.hcNIfu {
    color: #000;
}
.sc-jSFjdj.sc-gKAaRy.ctMlzp.ViahK svg.sc-bdnxRM.kHcuTr {
    fill: #000;
}

.sc-gtsrHT.bobDuW {
    color: #000;
}
a.sc-hKFxyN.cfomne {
    background: #000;
}
.sc-gtsrHT.khGDxw {
    color: #000;
}
a.sc-hKFxyN.ABDBL {
    color: #000;
}
button.sc-hKFxyN.jdfuWo {
    color: #000;
}
button.sc-hKFxyN.dZkjVT {
    color: #000;
}
.sc-gtsrHT.fmxhOY {
    color: #000;
}
.sc-gtsrHT.dRybRp {
    color: #000;
}
div#remove-liquidity-tokena-symbol {
    color: #000;
}
div#remove-liquidity-tokenb-symbol {
    color: #000;
}
.sc-gtsrHT.kLpiXr {
    color: #000;
}
.sc-gtsrHT.fIGIFz {
    color: #000;
}
a.sc-eTTTle.cKiXes {
    color: #000;
}
svg.sc-bdnxRM.jQCXPT {
    fill: #000;
}
.sc-jSFjdj.sc-dbXCOC.sc-hGwcmR.kJmatq.eulXrQ.jpIMYS {
    background: #fdfdfd;
}
svg.sc-bdnxRM.clvXEy {
    fill: #000;
}
button.sc-hKFxyN.fELdWs.sc-eCApnc.fAYopv svg.sc-bdnxRM.jPHzUB {
    fill: #fff;
}
input[type="text"] {
    color: #000;
}
.sc-gtsrHT.VDKTQ {
    color: #000;
}
a.sc-gtsrHT.sc-cOifOu.ewcoKd.haQoIp {
    color: #000;
}
button.sc-hKFxyN.dlhHPc {
    color: #000;
    border: 2px solid #000;
}
.sc-jSFjdj.sc-gKAaRy.sc-cKRKFl.kJmatq.jcNvwq.cYBzjH {
    background: #000;
}
.sc-kHVIJG.sc-biHcxt.hhkcIv.jlTjAo {
    background: #fdfdfd;
}
.sc-jSFjdj.sc-gKAaRy.sc-jdXKxY.kJmatq.jcNvwq.hLOQZw {
    display: flex;
    align-items: center;
}
svg.sc-bdnxRM.inIxCT {
    fill: #000;
}
a.sc-hKFxyN.fWzjos {
    background: #ffffff;
    color: #000;
}
.sc-gtsrHT.sc-fXgAZx.bKfQoH.erAkNO {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.sc-jSFjdj.sc-gKAaRy.sc-EZqKI.kJmatq.eOHJkb.kahMgl {
    background: #000;
    border-top: none;
}
.sc-eKaNGd.bWUTBW {
    background: #e8e8e8;
}
.sc-gJjCVn.THIDj {
    background: #efefef;
}
.sc-eKaNGd.bWUTBW {
    background: rgb(239 239 239);
}
.sc-jSFjdj.sc-gKAaRy.hjQygN.eqGhLO {
    color: #000;
}
button.sc-kizEQm.gHTiGH {
    color: #000;
}
button.sc-hKFxyN.kNtcfW {
    border: 2px solid #000;
    color: #000;
}

svg.sc-bdnxRM.kHcuTr {
    fill: #fff;
}
svg.sc-bdnxRM.hBqg {
    fill: #fff;
}
nav.sc-eXuyPJ.fdCbCG {
    background: #000;
    border-bottom: none;
}
.sc-jSFjdj.sc-gKAaRy.sc-cSiAOC.kZHTBx.jcNvwq.grSEwW {
    margin-top: -3px;
}
.sc-fcmMJX.bOguUg {
    color: #fff;
    font-weight: 700;
}
.sc-fcmMJX.bOguUg:hover{
    background: none;
}
a.sc-jXcxbT.bZWwVq {
    color: #000;
    font-weight: 700;
}
a.sc-gkCoMD.jBMErC .mobile-icon {
    width: 170px;
}
.sc-hcmsbg.gLBNha {
    min-height: 0px;
}
li.sc-cbeScs.fNvcGj {
    color: #ffffff;
}
a.sc-gtsrHT.sc-cOifOu.jLRikl.haQoIp {
    color: #ffffff;
}

.sc-gtsrHT.bmnHHk {
    color: #fff;
}
.sc-dvUynV.gwDIAB {
    border-color: #000;
}
.sc-gtsrHT.ejblxN {
    color: #000;
}
.sc-jSFjdj.sc-gKAaRy.eaNCIZ.eJSapW a#import-pool-link {
    display: none;
}
.sc-jSFjdj.sc-gKAaRy.cpromH.togOu a.sc-eCApnc.fAYopv {
    display: none;
}
@media screen and (min-width: 968px) {
.gLBNha {
    padding: 32px 32px 0px;
    min-height: 0px;
}
}
@media screen and (min-width: 370px) {
.gLBNha {
    background-size: auto;
    min-height: 0px;
}
}


@media screen and (min-width: 852px) {
.sc-jSFjdj.sc-gKAaRy.sc-fyjqAk.kJmatq.jcNvwq.iZIAqF {
    background: linear-gradient(#2196f3 0%, rgb(255 255 255) 100%);
}
.krkYvd:after {
    background: rgb(255 255 255);
}
}

@media screen and (min-width: 420px) {
.jDLZjo {
    padding-top: 8px;
    background: rgb(0 0 0 / 50%);
    border: 1px solid rgb(231, 227, 235);
    border-radius: 16px;
    width: 50%;
    height: 484px;
}
.iZIAqF {
    overflow: hidden;
    height: 100%;
    padding: 12px;
    -webkit-box-align: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(39, 38, 44, 0.4), rgba(39, 38, 44, 0.4)), linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
}
}
